<footer>
  <div class="container-fluid">
    <div class="row sub-footer bg-primary border-top-amarillo">
      <div class="container">
        <div class="col-sm-6 m-y-1 p-x-0">
            <p> @ 2024 </p>    
        </div>
      </div>
    </div>
  </div>
</footer>