<section class="jumbotron bg-primary">
    <div class="jumbotron_body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>{{jumbotron_title}}</h1>
                    <p>{{jumbotron_text}}</p>
                </div>
            </div>
        </div>
    </div>
</section>