<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboards Interno</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" media="all" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"  rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/poncho/css/poncho.min.css" rel="stylesheet">
    <link href="/poncho/css/roboto-fontface.css" rel="stylesheet">
    <link href="/poncho/css/icono-arg.css" rel="stylesheet"></head>

    <link href="/css/style.css" rel="stylesheet"></head>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

<body>
    {{> header}}
    <main>
        {{#if hasJumbotron}}
            {{> jumbotron jumbotron_text=jumbotron_text jumbotron_title=jumbotron_title}}
        {{/if}}
        <div class="container">
            {{{body}}}
        </div>  
    </main>
    {{> footer}}
</body>
</html>